.articlePreview {
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 1.5rem 0;
}

.articleMeta {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.userImage {
  flex-basis: 32px;
}

.userImage img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.info {
  margin-left: 8px;
}

.description {
  word-wrap: break-word;
}
.title {
  word-wrap: break-word;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.readMore {
  font-size: 0.8rem;
  font-weight: 300;
}

.tagList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
