.userInfo {
  background: #f3f3f3;
  padding: 2rem 0 1rem 0;
  text-align: center;
  margin-bottom: 25px;
}

.userImage {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}


.toggles .item a {
  padding: 0.5em 1em;
  color: var(--gray);
  text-decoration: none;
}
.toggles .active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.articles {
  padding-top: 0.5em;
}
